<launch>

<!--
  <include file="$(find turtlebot3_bringup)/launch/turtlebot3_core.launch"/>
-->
  <include file="$(find my_turtlebot_mapping)/launch/map_loader.launch"/>

  <arg name="use_map_topic" default="true"/>  
  <arg name="scan_topic" default="scan" />

  <!-- Launch AMCL with parameters -->
  <node pkg="amcl" type="amcl" name="amcl">
  <rosparam file="$(find my_turtlebot_localization)/params/amcl_params.yaml" command="load" />
    <!-- <param name="min_particles" value="100"/>
    <param name="max_particles" value="500"/>
    <param name="kld_err" value="0.01"/>
    <param name="kld_z" value="0.99"/>
    <param name="odom_alpha1" value="0.2"/>
    <param name="odom_alpha2" value="0.2"/>
    <param name="odom_alpha3" value="0.2"/>
    <param name="odom_alpha4" value="0.2"/>
    <param name="laser_max_beams" value="30"/>
    <param name="laser_z_hit" value="0.5"/>
    <param name="laser_z_short" value="0.05"/>
    <param name="laser_z_max" value="0.05"/>
    <param name="laser_z_rand" value="0.5"/>
    <param name="laser_sigma_hit" value="0.2"/>
    <param name="laser_lambda_short" value="0.1"/>
    <param name="laser_model_type" value="likelihood_field"/>
    <param name="update_min_d" value="0.2"/>
    <param name="update_min_a" value="0.5"/>
    <param name="resample_interval" value="1"/>
    <param name="transform_tolerance" value="0.2"/> -->
  <param name="use_map_topic" value="$(arg use_map_topic)"/>
  <remap from="scan" to="$(arg scan_topic)"/>

  </node>
</launch>
